@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');


$primary: #648141;
$secondary: #FFF5EC;

$display-font-sizes: (
    1: 5rem,
    2: 4.5rem,
    3: 4rem,
    4: 3.5rem,
    5: 3rem,
    6: 2.5rem,  
    7: 12.5rem
);

h1, h2 {
    font-family: "Sansita", serif;
}

h1 {
    letter-spacing: -10%;
}

h2 {
    letter-spacing: -5%;
}

h3, h4, p {
    font-family: "League Spartan", serif;

}

h3 {
    letter-spacing: 20%;
}

.py-6 {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
  }

// Functions / Variables / Mix-Ins
// This needs to be below the styles because variables overwrites your changes.
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$custom-colors: (
    "tertiary": #949E7B,
    "quaternary": #EA8800,
    "quinary": #83603D,
    "senary": #42552A,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@each $color, $value in $colors {
    .bg-#{$color}{
        background-color: $value
    }
    .bg-#{color}-light{
        background-color: tint-color($value, 60%)
    }
    .bg-#{color}-dark{
        background-color: shade-color($value, 20%)
    }
};

// $utilities: map-merge(
//   $utilities,
//   (
//     "background-image": (
//       property: background-image,
//       class: bg-img,
//       values: (
//         savourwhite: url('../images/webassets/background.png')
//       )
//     )
//   )
// );


@import "../node_modules/bootstrap/scss/bootstrap.scss";
// This need to be at the very bottom of the file